<nav class="navbar navbar-expand-md bg-body-white border-bottom p-2 mb-5 sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i> StayHub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <form action="/listings/search" method="post" class="d-flex" role="search">
                    <select class="form-select me-2 rounded-5" name="country" aria-label="Default select example"
                        id="search-country">
                        <option selected>India</option>
                        <option value="Canada">Canada</option>
                        <option value="Thailand">Thailand</option>
                        <option value="Nepal">Nepal</option>
                    </select>
                    <input class="form-control me-2 rounded-5" type="search" name="location"
                        placeholder="Search Destination" aria-label="Search" id="search-bar" />
                    <button class="btn btn-danger rounded-5 d-flex ps-3 pe-3" type="submit"><i
                            class="bi bi-search me-2 "></i>Search</button>
                </form>
            </div>
            <div class="navbar-nav ms-auto">
                <% if(currUser){ %>
                    <a href="#" class="me-4" id="user-profile">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWLxOUhQP5AB1r8naieABxkPwiIaEM9pJvjA&s"
                            alt="">
                        <div>
                            <p> @<%= currUser.username %></p>
                            <p><i class="fa-solid fa-pen-to-square"></i> Profile</p>
                        </div>
                    </a>
                    <% } %>
                        <a class="nav-link" href="/listings/new"><button type="button"
                                class="btn btn-outline-dark btn-sm fw-bold me-1"> Add new Listing</button></a>
                        <% if(!currUser){ %>
                            <a href="/signup" class="nav-link">
                                <button type="button" class="btn btn-danger btn-sm  ">
                                    <i class="bi bi-person-circle"></i> SignUp</button>
                            </a>
                            <a href="/login" class="nav-link">
                                <button type="button" class="btn btn-primary btn-sm me-5">
                                    <i class="fa-solid fa-arrow-right-to-bracket"></i> Login</button>
                            </a>
                            <% } %>
                                <% if(currUser){ %>
                                    <a href="/logout" class="nav-link"><button type="button"
                                            class="btn btn-danger btn-sm fw-bold"><i class="bi bi-box-arrow-left"></i>
                                            Logout</button></a>
                                    <% } %>
            </div>
        </div>
    </div>
</nav>